
:root {
    --golden: #FEBB50;
    --black: #212121;
    --fontGreateVibes: "Great Vibes", sans-serif;
    --fontMerriweather: "Merriweather", sans-serif;
    --fontQuestrial: "Questrial", sans-serif;
    --fontRaleway: "Raleway", sans-serif;
  }

body, html {
    /* overflow-x: hidden; */
    font-family: "Dosis", sans-serif;
    font-size: 1rem;
    color: #333;
}

/* NAVBAR */
.navbar {
    padding: 0;
    background: var(--black);
    box-shadow: 0 -6px 10px -5px hsl(0deg 0% 44% / 30%);
}

.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

.navbar .navbar-nav {
    flex-direction: inherit;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

.navbar .navbar-nav .nav-item {
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    letter-spacing: -0.5px;
}

.navbar .navbar-nav .nav-item .nav-link {
    color: white;
    padding: 0.6rem 2rem 0.3rem 2rem;
    transition: all 0.4s ease;
}

.nav-link:hover {
    background-color: var(--black);
}

.navbar .navbar-nav .nav-item .active {
    color: var(--black);
    background-color: var(--golden);
}

@media (max-width: 699px) {
    .dtext{
        display: none !important;
    }
}


/* SECTION */
section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 35px;
}

/* STORY */
.section-home {
    position: relative;
    width: 100%;
    height: auto;
    background-image: url('https://i.pinimg.com/originals/ac/4d/8a/ac4d8ad5beb061fe6a39e948fdd36589.gif');
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("https://images.says.com/uploads/story_source/source_image/966850/1f86.jpg"); */
    background-color: var(--black);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


@media (min-width: 992px){
    .section-home {
        padding-top: 50px;
    }
}

.section-home .imgLove{
    padding-top: 1%;
    width: 10%;
}

.section-home .word {
    text-align: center;
    position: relative;
    color: white;
}

.section-home .word h1 {
    font-family: var(--fontMerriweather);
    font-style: normal;
    font-weight: 800px;
    font-size: 46px;
    color: #FEBB50;
    line-height: 1 !important;
}

.section-home .word h2 {
    font-family: var(--fontQuestrial);
    font-style: normal;
    font-weight: 800px;
    font-size: 21px;
    color: #FEBB50;
    line-height: 1 !important;
}

.section-home .word h3 {
    font-family: var(--fontRaleway);
    font-style: normal;
    font-weight: 800px;
    font-size: 21px;
    line-height: 2 !important;
}

.section-home .word h4 {
    font-family: var(--fontRaleway);
    font-style: normal;
    font-weight: 800px;
    font-size: 21px;
    line-height: 2 !important;
}

/* section story mobile */
@media (max-width: 699px) {
    .section-home {
        padding-bottom: 20%;
        padding-top: 20%;
    }
    .section-home .imgLove{
        padding-top: 5%;
        width: 35%;
    }

    .section-home .word h1 {
        font-size: 38px;
        line-height: 1 !important;
    }

    .section-home .word h2 {
        font-size: 20px;
        line-height: 0.5 !important;
    }

    .section-home .word h3 {
        font-size: 18px;
        line-height: 2 !important;
    }

    .section-home .word h4 {
        font-size: 14px;
        line-height: 4 !important;
    }
}

.section-story {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
}

.section-story::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url('/icons/golden_moon_2.png');
    background-color: white;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.25;
}

.section-story .card {
    margin-bottom: 2%;
    background-color: var(--black);
    font-family: var(--fontQuestrial);
}

.card-title{
    color: var(--golden);
}

.card-subtitle{
    color: var(--golden);
}

.card p {
    color: white;
}

.story-header {
    text-align: center;
    font-family: var(--fontGreateVibes);
    padding-bottom: 3%;
}

.story-header h1 {
    font-size: 42px;
}

.story-header img {
    width: 30%;
}


/* section story mobile */
@media (max-width: 699px) {
    .section-story .container{
        padding-bottom: 30%;
    }
}


.section-gallery {
    position: relative;
    background-color: var(--black);
}

.section-gallery .row img {
    width: 100%;
}

.gallery-header {
    text-align: center;
    font-family: var(--fontGreateVibes);
    padding-bottom: 3%;
}

.gallery-header h1 {
    font-size: 42px;
    color: var(--golden);
}

.gallery-header img {
    width: 30%;
}


.section-guestbook {
    position: relative;
    height: auto;
    padding-bottom: 20%;
}

.section-guestbook::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url('/icons/golden_moon_2.png');
    background-color: white;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.25;
}

.section-guestbook .guestbook_header {
    text-align: center;
    font-family: var(--fontGreateVibes);
    padding-bottom: 3%;
    padding-top: 3%;
}

.section-guestbook .card {
    background-color: var(--black);
}

.floating_button {
    color: var(--black);
    background-color: white;
    position: fixed;
    z-index: 1030;
    bottom: 70px;
    right: 43%;
    width: 15%;
    text-align: center;
    padding: 5px;
    font-size: 12px;
    border-radius: 10px;
}
.floating_button img {
    width: 10%;
}

.floating_button button {
    font-size: 12px;
    font-weight: 400px;
    font-family: var(--fontRaleway);
}

@media (max-width: 699px) {
    .floating_button {
        bottom: 60px;
        right: 32%;
        width: 35%;
    }

    .floating_button img {
        width: 13%;
    }

    .floating_button button {
        font-size: 12px;
        font-weight: 400px;
        font-family: var(--fontRaleway);
    }
}
